body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: auto;
    /* padding: 20px; */
}
nav{
    background-color: #6080a8 !important;
}
.nav-wrapper {
    margin-left: 10%;
    margin-right: 10%;
}
.age-box {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input[type="date"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9196f1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9196f1;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #d5d6d6;
    border-radius: 4px;
    text-align: center;
    color: #333;
}